body{
    text-align: center;
}
h2{
    color: #16602b;
}
h3{
    color: #16602b;
    margin: 17px;
}
#kshisa{
    padding: 10px 20px 10px 10px;
}
header{
    display:block;
    height: 68px;
    width: 1320px;
    text-align: right;
    padding: 10px 0 5px 0px;
}
#head{
    display: block;
    text-align: center;
    margin-right: 30px;
    font-size: 15px;
}
main{
    background: url(/images/buttons/scene1.jpg) no-repeat;
    background-position: 50% 4%;
    height: 1330px;
    width: 1325px; 
    margin-left: auto;
    margin-right: auto;
}
footer{
    font-family: "Sans MS", Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    color: grey;
    font-weight: 600;
    font-variant: small-caps;
    font-style: oblique;
    display:block;
    width: 1335px; 
    height: 70px;
    margin-left: auto;
    margin-right: auto; 
}

.left_col{
    background: url(/images/buttons/film3.jpg) no-repeat;
    width: 214px; 
    height: 1247px; 
    float: left; 
    border-right: 2px;
    margin-bottom:-15px;
    text-align: center;

}
.center_col {
    font-family: "Sans MS", Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    color: #675353;
    font-weight: 600;
    font-style: oblique;
    top: 210px;
    left: 10%; 
    width: 895px; 
    float: left;

}
.right_col{
    background: url(/images/buttons/film3.jpg) no-repeat;
    width: 214px; 
    height: 1247px; 
    float: left; 
    border-left: 2px; 
    margin-bottom:-15px;
    text-align: center;

}
#mess{
    font-size: 44px;
    position: relative;
    top: 260px;
    right: 140px;
}
#user{
    background: url(/images/buttons/back2.png) no-repeat;
    background-position: 66%;
    padding-top: 10px;
    height: 700px;
    text-align: center;
}
.fadein{ 
    background: url(/images/buttons/TV.png) no-repeat;
    position: relative; 
    top: 244px;
    left: 250px;
    width: 540px;
    height: 350px;
}
.fadein img { 
    position:absolute; 
    top: 17px;
    left: 14px;
    width: 505px;
    height: 284px;
}
#dash{ 
    background: url(/images/buttons/TV.png) no-repeat;
    position: relative; 
    top: 244px;
    left: 250px;
    width: 530px;
    height: 350px;
}
#one {
    padding-bottom: 8px;
}
.clock {
    width: 180px;
    margin-right: 11px;
    text-align: center;
    float: left;
}
#Date { 
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif; 
    font-size: 18px;
    margin-bottom: 11px;
    text-shadow: 0 0 5px gray; 
}
ul { 
    display: inline; 
    margin: 10px 30px 10px 10px; 
    padding-left: 12px; 
    list-style: none; 
    text-align: left; 
}
#hours{
    font-size: 34px;
    margin-left: 20px;
}
#minut{
    font-size: 34px;
    margin-right: 20px;
}
.start {
    padding-right: 150px;
}
.stop {
    padding-left: 150px;
}
ul li { 
    display: inline; 
    font-size: 1.5em; 
    text-align: center; 
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif; 
}
.numb {
    margin-top: 10px;
}
.image{
    width: 140px;
    height: 210px;
    margin: 10px 0 40px 4px;
}
.image1{
    width: 150px;
}
.buts{
    width: 70px;
    height: 70px;
    float: left;
    padding-left: 10px;
}

#info{
    color: #0b3073;
    font-size: 12px;
    text-shadow: 0 4px grey;
    margin-top: 5px;
}

.poster{
    float: left;
    width: 320px;
    height: 444px;
    margin-left: 10px;
}
.ava{
    width: 69px;
}
.note{
    margin-top: 100px;
}
.kadr1{
    margin: 2px;
    width: 272px;
    height: 160px;
}
.kadr2{
    margin: 2px;
    width: 136px;
    height: 178px;
}
.userid{
    width: 400px;
    border: 4px solid #cccccc;
    background: #fbfaff !important;
}
#Name{
    color:gray;
    font-size:50px;
    text-align:center;
    border:2px lightskyblue;
    font-family:serif;
    border-radius:30px;
    text-shadow: 1px 2px 20px lightskyblue;
    float: left;
    margin: 0 40px;
    
}
#Avat{
    margin-right: 20px;
}
.avat{
    height: 70px;
    width: 60px;
}

.numb{
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
    text-shadow: 1px 2px 20px lightskyblue;
}
#check1{
    position: relative; 
    top: -1070px;
    left: -1060px;
}
#check2{
    position: relative; 
    top: -790px;
    left: -1060px;
}
#check3{
    position: relative; 
    top: -500px;
    left: -1060px;
}
#check4{
    position: relative; 
    top: -220px;
    left: -1060px;
}
#check5{
    position: relative; 
    top: -1070px;
    left: 50px;
}
#check6{
    position: relative; 
    top: -790px;
    left: 50px;
}
#check7{
    position: relative; 
    top: -500px;
    left: 50px;
}
#check8{
    position: relative; 
    top: -220px;
    left: 50px;
}
.imageall{
    margin: 5px 5px 5px 5px;
    width: 150px;
}
#kad {
    width: 300px;
}
table {
    text-align: right;
    padding: 10px;
    width: 850px;
}
select {
    width: 320px;
}
#but {
    width: 40px;
    padding: 0;
    font-size: 12px;
}
#findimgs {
    height: 480px;
    overflow: scroll;
}
.imagemail {
    margin: 5px;
    width: 150px;

}
#pics {
    text-align: left;
    height: 440px;
    overflow: scroll;
}
#left {
    margin: 5px;
    float: left;
}
