[% WRAPPER page.tt %]
<main>
    <div class="left_col"> </div>
    <div class="center_col">
        <form method="post" action="/user/pass">
            <input type="hidden" name="id" value="[% id %]" /> 
            [% all %]
        </form>
    </div>
    <div class="right_col"></div>    
</main>

[% END %]
