[% WRAPPER page.tt %]
<main>
<header>
<form method="post" id=start action="[% action %]">
    [% id %]
    [% avat %]
    [% name %]
    [% clock %]
    [%kshisa%]
</header>
    [% micro %]
    [% form %]
    [% ba %]
    [% l %]
    [% full %]
    [% text %]
    [% all %]
    [% fr %]
    [% r %]
    [% codes %]
    [% forma %]
</form>
</main>
[% END %]
