[% WRAPPER page.tt %]
<main>
<form method="post" id="[% ident %]" action="/">
<header>
    [% user %]
</header>
    [% micro %]
    [% l %]    
    [% form %]
    [% full %]
    [% text %]
    [% r %]
    [% forma %]
</form>
</main>
[% END %]
